<!-- Benchmark : https://www.hira.or.kr/main.do --> 
<header>
    <!-- Header Part -->
    <div class="top_menu_wrap">
        <ul class="login_bar">
            <li><a class="btnLogin" id="btnTMLogin">로그인</a></li>
            <li><a class="btnSignUp" id="btnTMSignUp">회원가입</a></li>
            <li><a class="btnFindInfo" id="btnTMFindInfo">아이디 / 비밀번호 찾기</a></li>
        </ul>
    </div>
    <div class="submenu_back"></div>
    <div class="header_wrap">
        <a href="/">
            <img src="/public/img/logo.png" alt="LOGO">
            <span>CellMin</span>
        </a>
        <ul class="menubar">
            <ul class="submenu_member">
                <li><a class="btnLogin" id="btnLogin">로그인</a></li>
                <li><a class="btnSignUp" id="btnSignUp">회원가입</a></li>
                <li><a class="btnFindInfo" id="btnFindInfo">아이디 / 비밀번호 찾기</a></li>
            </ul>
            <li><a href="/board/list/notice/10">공지사항</a>
                <ul class="submenu">
                    <li><a href="/board/list/notice/10">공지사항</a></li>
                </ul>
            </li>
            <li><a href="/board/list/free/10">커뮤니티</a>
                <ul class="submenu">
                    <li><a href="/board/list/free/10">자유게시판</a></li>
                    <li><a href="/board/list/gallery/10">갤러리</a></li> 
                    <li><a href="/board/list/youTubeClip/10">Youtube Clip</a></li>
                </ul>
            </li>
            <li><a href="#">IT 개발</a>
                <ul class="submenu">
                    <li><a href="/board/list/portfolio/10">포트폴리오</a></li>
                    <li><a href="/board/list/itdev/10">IT 개발일지</a></li>
                    <li><a href="/board/list/sourcecode/10">소스코드</a></li>
                </ul>
            </li>
            <li><a href="#">Connect</a>
                <ul class="submenu">
                    <li><a href="#">Connect</a></li>
                </ul>
            </li>
        </ul>
        <i id="menuicon" class="fa-solid fa-bars"></i>
    </div>
</header>